$orange-dark-darkPrimaryColor: #E64A19;
$orange-primaryColor: #FF5722;
$orange-light-lightPrimaryColor: #FFCCBC;
$white-textPrimaryColor: #FFFFFF;
$blue-accentColor: #FF9800;
$red-alertColor: #e51c23;
$green-successColor: #259b24;
$darkest-primaryTextColor: #444;
$lighter-secondaryTextColor: #727272;
$lightest-dividerColor: #B6B6B6;

.contain-to-grid
{
	background-color: $orange-primaryColor;
}

.jetti-logo
{
	font-family: $logo-font;
	color: $orange-primaryColor;
	letter-spacing: -.025em;
}

.button
{
	background-color: $orange-primaryColor;

	&:hover
	{
		background-color: $orange-dark-darkPrimaryColor;
	}
}

.logo
{
	font-family: $logo-font;
}

main
{
	margin-top: 2em;
}

h1, h2, h3, p
{
	color: $darkest-primaryTextColor;
}

h1
{
	font-weight: 900;
}

h2
{
	font-weight: 700;
	font-variant: small-caps;
}


.global-nav
{
	background-color: $orange-primaryColor;

	a.active
	{
		background-color: $orange-dark-darkPrimaryColor;
	}
}

.global-nav-button
{
	color: $white-textPrimaryColor;
	padding: 0 12px;
	transition: background-color .25s ease;
	background-color: $orange-primaryColor;
	font-weight: 100;
}

.global-nav-button:hover
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

.global-nav-button:active
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

label
{
	font-weight: bold;
	color: $darkest-primaryTextColor;
}

.admin-nav-container
{
	background: $orange-primaryColor;
	padding-bottom: 0;
	border-top: 2px solid $darkest-primaryTextColor;
	border-bottom: 2px solid $darkest-primaryTextColor;
}

.admin-nav
{
	a
	{
		background-color: $orange-primaryColor;
		font-size: .75em;
		font-weight: bold;
		border-left: 1px solid $darkest-primaryTextColor;
		border-right: 1px solid $darkest-primaryTextColor;
	}

	.button
	{
		margin-bottom: 0;
	}

	a.active
	{
		background-color: $darkest-primaryTextColor;
		color: $orange-dark-darkPrimaryColor;
	}

	.first
	{
		border-left: 2px solid $darkest-primaryTextColor;
		
	}

	.last
	{
		border-right: 2px solid $darkest-primaryTextColor;
	}
}

.admin-sub-nav-container
{
	padding-bottom: 0;
	margin-bottom: 0em;
}

 .admin-sub-nav
 {
 	padding-bottom: 0;
 	margin-bottom: 0;

 	a
	{
		background-color: $orange-primaryColor;
		font-size: .75em;
		font-weight: bold;
		margin-bottom: 0;
	}

	a.active
	{
		background-color: $darkest-primaryTextColor;
		color: $orange-dark-darkPrimaryColor;
	}

	.first
	{
		border-right: 2px solid $lightest-dividerColor;
		
	}

	.last
	{
		border-left: 2px solid $lightest-dividerColor;
	}
 }

 .tabs
 {
 	.tab-title
 	{
 		width: 20%;
 	}

 	.tab-title a
 	{
 		background-color: $orange-primaryColor;
 		color: $white-textPrimaryColor;
 		font-size: .75em;
		font-weight: bold;
		text-transform: uppercase;
		border-left: 2px solid $lightest-dividerColor;
 		transition: background-color 300ms ease-out 0s;
 	}

 	.first a
 	{
 		border-left: none;
 	}

 	.tab-title a:hover
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: $orange-primaryColor;
 	}

 	.tab-title.active a
 	{
 		background-color: $darkest-primaryTextColor;
		color: $orange-dark-darkPrimaryColor;
 	}

 	.add a
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #43AC6A;
 	}

 	.add a:hover
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #368A55;
 	}

 	.remove a
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #F04124;
 	}

 	.remove a:hover
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #CF2A0E;
 	}
 }

 .meal-tabs
 {
 	.tab-title
 	{
 		width: 25%;
 	}

 	.tab-title a
 	{
 		border: none;
 		text-align: center
 	}
 }

 .category-tabs
 {
 	.tab-title
 	{
 		width: 33.3334%;
 		border-left: 2px solid $lightest-dividerColor;
 	}

 	.tab-title a
 	{
 		border: none;
 		text-align: center
 	}

 	.add a
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #43AC6A;
 	}

 	.add a:hover
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #368A55;
 	}

 	.remove a
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #F04124;
 	}

 	.remove a:hover
 	{
 		transition: background-color 300ms ease-out 0s;
 		background-color: #CF2A0E;
 	}

 	.first, .last
 	{
 		border-left: none;
 	}

 }

.member-value
{
	font-weight: 700;
	font-size: 3em;

	small
	{
		color: $green-successColor;
	}
}

 .top-member-tabs .tab-title
 {
 	display: block;
 	width: 50%;

 }

 input[type="checkbox"].members-list-checkbox
 {
 	border: 1px solid red;
 	margin-bottom: 0;
 }

 ul.pagination li.current a
 {
 	background: $orange-primaryColor;

 	&:hover
 	{
 		background: $orange-dark-darkPrimaryColor;
 	}
 }

span.postfix
 {
 	font-weight: bold;
 	background: $orange-primaryColor;
 	color: $white-textPrimaryColor;
 }

 .point-earner-label
 {
 	color: $lighter-secondaryTextColor;
 	font-weight: 300;
 	border-bottom: 1px solid $lightest-dividerColor;
 	padding-bottom: .5em;
 	margin-bottom: .5em;
 }

 .point-earner-item-name
 {
 	font-weight: 700;
 	color: $darkest-primaryTextColor
 }

.button.disabled
 {
 	background-color: $lighter-secondaryTextColor;

 	&:hover
 	{
 		background-color: $lighter-secondaryTextColor;
 	}
 }
